<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Float</title>
    <style>
        img {
            float: left;
        }

        /*p {
            clear: left;
        }*/
    </style>
</head>

<body>
    <div class="container">
        <img src="../grid/tasks/balloons2.jpeg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est beatae sequi ea, asperiores quia perferendis
            necessitatibus natus vero cum praesentium enim quibusdam. Asperiores aut dolor rerum iusto repellendus. Quas
            dicta et quaerat totam assumenda eveniet ipsa atque saepe a ullam tempore officia exercitationem, quidem
            nisi doloremque, ut quos ad, tenetur hic recusandae. Rem rerum est quasi.</p>
    </div>
</body>

</html>