* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */

  .letter {
    background: rgb(255, 255, 255);
    width: 210mm;
    margin: 0 auto;
    border-top: 1mm solid red;
    border-bottom: 1mm solid red;
  }
  h1 {
    background-image: url('logo.png');
  }
  
  .filter {
    /* filter: drop-shadow(4px 3px 3px rgba(0,0,0,0.8)); */
    -webkit-filter: drop-shadow(4px 3px 3px rgba(0,0,0,0.8));
  }

  article{
    margin: 0;
    background: url(top.png) no-repeat center top,url(bottom.png) no-repeat center bottom;
    background-size: 100%;
  }

  .letter {
    background-image: linear-gradient(
        to bottom,
        rgba(213, 213, 213, 0.6) 0%,
        rgba(64, 64, 64, 0) 20%,
        rgba(64, 64, 64, 0) 80%,
        rgba(213, 213, 213, 0.6) 100%

    );
  }