/* type selector */
h1{
    color: cadetblue;
}

/* class selector */
.c1{
    font-style: oblique;
    border: 2px dashed;
    line-height: 1.4rem;
    padding: 1rem;
}

/* id selector */
#para1{
   font-family: 'Courier New', Courier, monospace;
   font-size: large;
   font-weight: 600;
}

/* attribute selector */
a[title]{
    color:violet;
}

a[href="https://www.amazon.com"]{
    font-size: 2rem;
}

a[target="_blank"]{
    font-style: italic;
}

/* seudo classes and pseudi-elements selector */
a[target]:hover{
  font-size: large;
}

p.amazon{
    font-size: larger;
}

p.amazon::first-letter{
    font-size:xx-large;
    font-weight: bolder;
}

p.google::first-line{
    font-size: larger;
    font-style: oblique;
}

/* combining selectors and combinators */

/* selects any <p> that comes directly after <h1> */
h1 + p{
    font-size: 150%;
}

/* selects any <span> that is inside a <p>, which is inside an <article>  */
article p span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p {
    word-spacing: 0.3cm;
    letter-spacing: 2.4px;
    color: brown;
}

.watermark{
    transform: rotate(0.88turn);
    position: fixed;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
    color:gray;
    z-index: -1000;
    top: 40%;
    left: 40%;
}

