<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex css</title>
    <link rel="stylesheet" href="flex.css">
</head>
<body>
    <div class="wrapper flex flex-row">
        <div class="box1 box">Box1</div>
        <div class="box3 box">Box2</div>
        <div class="box2 box">Box3</div>
    </div>

    <div class="wrapper flex flex-column">
        <div class="box1 box">Box1</div>
        <div class="box3 box">Box2</div>
        <div class="box2 box">Box3</div>
    </div>
</body>
</html>