<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="flex-final.css" />
    <title>Flexbox in CSS</title>
  </head>
  <body>
    <div class="container flex-row justify-center">
      <div class="item item1">One Lorem Lorem ipsum</div>
      <div class="item item2">Two</div>
      <div class="item item3">Three</div>
      <div class="item item4">Four</div>
      <div class="item item5">Five</div>
      <div class="item item6">Six</div>
    </div>

    <div class="container flex-column-reverse">
      <div class="item item1">One</div>
      <div class="item item2">Two</div>
      <div class="item item3">Three</div>
      <div class="item item4">Four</div>
      <div class="item item5">Five</div>
      <div class="item item6">Six</div>
    </div>

    <div class="container flex-wrap flex-row justify">
      <div class="item">
        1.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        1.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        1.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        2.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        3.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        4.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        5.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        6.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        7.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
      <div class="item">
        8.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut, mollitia sit exercitationem
        id aspernatur quam. At quas cupiditate nesciunt repudiandae excepturi.
        Neque modi odio impedit dignissimos nisi laboriosam esse. Officia,
        asperiores quas autem nisi quidem possimus.
      </div>
    </div>

    <div class="container flex-row justify-center">
      <div class="item item1 align-self-flex-end">One</div>
      <div class="item item2 align-self-flex-start">Two</div>
      <div class="item item3 align-self-center">Three</div>
      <div class="item item4 align-self-center">Four</div>
      <div class="item item5 align-self-flex-end">Five</div>
      <div class="item item6 align-self-flex-start">Six</div>
      <div class="item">
        8.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        nulla illum tempora voluptatum facere assumenda, quas hic cumque magnam,
        placeat ullam porro? Illum vitae porro aut
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio
        harum asperiores.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellendus
        quo mollitia corporis ad ipsa aperiam cum quod placeat? Officiis, ipsam
        eius?
      </div>
      <div class="item">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius impedit vitae aliquid.
      </div>

      <div class="item align-self-stretch">
        twelve
      </div>
    </div>
  </body>
</html>
