<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Flexbox 0 — starting code</title>
    <link rel="stylesheet" href="simple-flex.css" />
  </head>
  <body>
    <header>
      <h1>Sample flexbox example</h1>
    </header>

    <section>
      <article>
        <h2>First article</h2>

        <p>
          Tacos actually microdosing, pour-over semiotics banjo chicharrones
          retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B
          pork belly, everyday carry ennui pickled sriracha normcore hashtag
          polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund
          twee, leggings salvia iPhone photo booth health goth gastropub
          hammock.
        </p>
        <p>
            Commodi sit sunt fugit est! Recusandae repudiandae pariatur quibusdam
            aliquid fugiat repellat a quia temporibus necessitatibus deserunt,
            obcaecati minima deleniti ullam veritatis consectetur, veniam harum
            reprehenderit quo exercitationem enim? Sunt dicta beatae veritatis
            voluptate id vitae voluptatum, aperiam suscipit reiciendis officiis
            praesentium temporibus recusandae, sint assumenda voluptatem libero,
            earum necessitatibus exercitationem quibusdam dignissimos. Quas
            voluptates vero hic aperiam cumque eligendi praesentium, eius fugit
            vitae pariatur sint optio delectus quidem impedit, dolores iusto est
            repellendus odit harum soluta? Explicabo repellat laborum id inventore
            neque maiores commodi eius provident voluptas cupiditate numquam nihil
            eos ratione doloribus, fugiat ut debitis veritatis repellendus
            officia. Facilis aut alias consequatur. Magni consequuntur commodi
            assumenda eligendi neque eius?
          </p>
      </article>

      <article>
        <h2>Second article</h2>

        <p>
          Tacos actually microdosing, pour-over semiotics banjo chicharrones
          retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B
          pork belly, everyday carry ennui pickled sriracha normcore hashtag
          polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund
          twee, leggings salvia iPhone photo booth health goth gastropub
          hammock.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
          explicabo earum recusandae facilis modi molestias suscipit sunt
          provident consequatur architecto possimus autem iusto, inventore nemo.
          Expedita maxime a fuga dolore repellat eaque possimus numquam eum
          asperiores sunt in sapiente veniam impedit, necessitatibus, nesciunt
          neque voluptatibus vero amet accusantium aut inventore quis
          perferendis. Corporis, voluptatibus? Aliquid inventore unde obcaecati
          eaque consequuntur eveniet pariatur distinctio exercitationem veniam?
          Error nostrum repellat placeat perferendis sed perspiciatis sit
          reiciendis, harum obcaecati. Aspernatur quae deserunt, illum corporis
          minus consequuntur. Natus molestias sapiente tempora non officiis.
        </p>
          <p>
          Commodi sit sunt fugit est! Recusandae repudiandae pariatur quibusdam
          aliquid fugiat repellat a quia temporibus necessitatibus deserunt,
          obcaecati minima deleniti ullam veritatis consectetur, veniam harum
          reprehenderit quo exercitationem enim? Sunt dicta beatae veritatis
          voluptate id vitae voluptatum, aperiam suscipit reiciendis officiis
          praesentium temporibus recusandae, sint assumenda voluptatem libero,
          earum necessitatibus exercitationem quibusdam dignissimos. Quas
          voluptates vero hic aperiam cumque eligendi praesentium, eius fugit
          vitae pariatur sint optio delectus quidem impedit, dolores iusto est
          repellendus odit harum soluta? Explicabo repellat laborum id inventore
          neque maiores commodi eius provident voluptas cupiditate numquam nihil
          eos ratione doloribus, fugiat ut debitis veritatis repellendus
          officia. Facilis aut alias consequatur. Magni consequuntur commodi
          assumenda eligendi neque eius?
        </p>
        <p>
            Commodi sit sunt fugit est! Recusandae repudiandae pariatur quibusdam
            aliquid fugiat repellat a quia temporibus necessitatibus deserunt,
            obcaecati minima deleniti ullam veritatis consectetur, veniam harum
            reprehenderit quo exercitationem enim? Sunt dicta beatae veritatis
            voluptate id vitae voluptatum, aperiam suscipit reiciendis officiis
            praesentium temporibus recusandae, sint assumenda voluptatem libero,
            earum necessitatibus exercitationem quibusdam dignissimos. Quas
            voluptates vero hic aperiam cumque eligendi praesentium, eius fugit
            vitae pariatur sint optio delectus quidem impedit, dolores iusto est
            repellendus odit harum soluta? Explicabo repellat laborum id inventore
            neque maiores commodi eius provident voluptas cupiditate numquam nihil
            eos ratione doloribus, fugiat ut debitis veritatis repellendus
            officia. Facilis aut alias consequatur. Magni consequuntur commodi
            assumenda eligendi neque eius?
          </p>
      </article>

      <article>
        <h2>Third article</h2>

        <p>
          Tacos actually microdosing, pour-over semiotics banjo chicharrones
          retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B
          pork belly, everyday carry ennui pickled sriracha normcore hashtag
          polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund
          twee, leggings salvia iPhone photo booth health goth gastropub
          hammock.
        </p>

        <p>
          Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat
          ennui. Organic small batch paleo 8-bit. Intelligentsia umami wayfarers
          pickled, asymmetrical kombucha letterpress kitsch leggings
          cold-pressed squid chartreuse put a bird on it. Listicle pickled man
          bun cornhole heirloom art party.
        </p>
        <p>
            Commodi sit sunt fugit est! Recusandae repudiandae pariatur quibusdam
            aliquid fugiat repellat a quia temporibus necessitatibus deserunt,
            obcaecati minima deleniti ullam veritatis consectetur, veniam harum
            reprehenderit quo exercitationem enim? Sunt dicta beatae veritatis
            voluptate id vitae voluptatum, aperiam suscipit reiciendis officiis
            praesentium temporibus recusandae, sint assumenda voluptatem libero,
            earum necessitatibus exercitationem quibusdam dignissimos. Quas
            voluptates vero hic aperiam cumque eligendi praesentium, eius fugit
            vitae pariatur sint optio delectus quidem impedit, dolores iusto est
            repellendus odit harum soluta? Explicabo repellat laborum id inventore
            neque maiores commodi eius provident voluptas cupiditate numquam nihil
            eos ratione doloribus, fugiat ut debitis veritatis repellendus
            officia. Facilis aut alias consequatur. Magni consequuntur commodi
            assumenda eligendi neque eius?
          </p>
      </article>
    </section>
  </body>
</html>
